/* Created by Kalen Shamy */

body {
  background: rgb(25, 25, 25);
  color: white;
  text-align: center;
}

#snake {
  background: black;
  margin: auto;
  display: flex;
}

#gameOver {
  visibility: hidden;
  background: rgb(25,25,25,0.5);
  position: absolute;
  left: 50%;
  top: 5em;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#playGame {
  background: rgb(25,125,25);
  padding: 5px;
  width: 10em;
  margin: 25px auto;
}

#copywrite {
  margin-top: 25px;
  color: rgb(175,175,175)
}

#controls {
  margin-top: 25px;
  font-size: 25px;
  line-height: 1.5em;
}

#controls span {
  display: none;
}
